/* .main {
	display: ;
} */

.spaceGallery {
	/* display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center; */

	width: 100%;
	display: grid;
	/* grid-template-columns: repeat(auto-fill, minmax(250px, 0.2fr)); */
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
	justify-items: center;
	align-items: start;
	padding: 0 40px;
}

.loader {
	display: flex;
	justify-content: center;
}

.loader img {
	width: 80px;
	height: 80px;
}

.loadMore {
	border: none;
	color: white;
	background-color: purple;
	width: max-content;
	padding: 10px 20px;
	border-radius: 10px;
	margin: auto;
}

@media only screen and (max-width: 1000px) {
	.spaceGallery {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media only screen and (max-width: 750px) {
	.spaceGallery {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media only screen and (max-width: 500px) {
	.spaceGallery {
		grid-template-columns: repeat(1, 1fr);
	}
}
